[submodule "generated_projects/assessing-the-economic-impact-of-the-urban-enterprise-zone-program-reform"]
	path = generated_projects/assessing-the-economic-impact-of-the-urban-enterprise-zone-program-reform
	url = https://github.com/Rutgers-Economics-Labs/RAIL-assessing-the-economic-impact-of-the-urb.git
